
    body{
        padding: 0px;
        margin: 0px;
    }

    @media screen and (min-width:1000px) {

        header{
            min-height: 150px;
            background-image: linear-gradient(dodgerblue,rgb(27, 67, 107));
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #effects-link{
            min-height: 300px;
        }

        footer{
            min-height: 50px;
            background-image: linear-gradient(rgb(22, 23, 24),rgb(32, 34, 36));
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }